body, html {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #333;
    cursor: pointer;
}